body {
  font-family: 'Open Sans', sans-serif;
  /* font-size: 20px; */
}

a {
  color: black;
}

h1 {
  font-size: 100px;
  font-weight: bold;
}
section {
  padding: 30px;
}

/* mix */
a:hover {
  text-decoration: none;
}
.bg_grey {
  background-color: #fafafa;
}
.container__small {
  max-width: 800px;
  margin: auto;
}
/* bottoni */
.bottone-login {
  background-color: black;
  color: #ffff;
  border-radius: 0;
  padding: 5px 20px;
}

.lang {
  padding: 0 6px;
  line-height: normal;
}
.menu-mobile {
  font-size: 18px;
  background-color: transparent;
}
/* header */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  line-height: 70px;
  background-color: white;
  height: 70px;
  width: 100%;
  z-index: 10;
}
.main-nav, .secondary-nav {
  line-height: 70px;
  display: inline-block;
}
.main-nav {
  margin-right: 30px;
}
.list-inline {
  margin-bottom: 0px;
}

.logo img{
  height: 16px;
}

.main-nav li {
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 10px;
  font-weight: 600;
}
.list-inline button {
  border: none;
  background-color: transparent;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  color: black;
}
/* hero */
.hero {
  margin-top: 70px;
  padding: 30px 0;
}
.hero .hero__img {
  width: 100%;
}


/* corpo */
/* sezioni prodotti */
.product_logo {
  height: 22px;
  margin-bottom: 25px;
}
.product a, .product p {
  margin-bottom: 25px;
}
.product a {
  color: #0370c8;
}
.product a i, .product a {
  vertical-align: middle;
}
.product a i {
  margin-left: 5px;
}
.product {
  padding-bottom: 30px;
  padding-top: 65px;
  padding-left: 20px;
  padding-right: 20px;
}
.product .product_img {
  max-height: 280px;
}
.product_img {
  margin-top: 25px;
}
.product_title {
  font-size: 20px;
}
.product_link {
  display: block;
}
/* old man */
.box {
  display: inline-block;
  width: calc(100% / 3);
  position: relative;
}
.box-1 {
  vertical-align: bottom;
  right: calc(100% / 3);
}
.box-1 h2 {
  padding-bottom: 100px;
  font-weight: bold;
}
.box-3 h2 {
    font-weight: bold;
}
.box-2 {
  left: calc(100% / 3);
}
.box-2 img {
  width: 100%;
  max-width: 300px;
}
.box-3 {
  vertical-align: bottom;
}
.box-3 h2, .box-3 p {
  padding-left: 25px;
}
.box-3 p {
  padding-bottom: 93px;
  font-size: 18px;
}
.banner {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: absolute;
  width: 100%;
}
.boxes {
  padding-top: 200px;
}
/* /old man */





/* media queries */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 80px;
  }
  .product {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 60px;
    top: 0;
    left: 0;
  }
  .box {
    width: 100%;
  }
  .box-1 {
    right: auto;
  }
  .box-2 {
    left: auto;
  }
}
